<nav class="ember-power-calendar-nav">
  <button
    type="button"
    class="ember-power-calendar-nav-control"
    {{on "click" (fn @calendar.actions.moveCenter -12 'month')}}>«</button>

  <button
    type="button"
    class="ember-power-calendar-nav-control"
    {{on "click" (fn @calendar.actions.moveCenter -1 'month')}}>‹</button>

  <div class="ember-power-calendar-nav-title">
    {{format-date @calendar.center 'MMMM yyyy'}}
  </div>

  <button
    type="button"
    class="ember-power-calendar-nav-control"
    {{on "click" (fn @calendar.actions.moveCenter 1 'month')}}>›</button>

  <button
    type="button"
    class="ember-power-calendar-nav-control"
    {{on "click" (fn @calendar.actions.moveCenter 12 'month')}}>»</button>
</nav>
