<div class="main-container">
  <div class="card-container">
  <div class="dialog-head">
    <div {{on 'click' this.Back}}><span class="material-icons"> arrow_back</span></div>
    <h2>Update Employee Details</h2>
  </div>
  <form {{on "submit" this.EditEmployee}}>
    <div class="dialog-elem">
      <label>Employee Name:</label>
      <input type="text" value={{this.name}} {{on "input" this.setName}} />
    </div>
    <div class="dialog-elem">
      <label>Employee ID:</label>
      <input type="text" value={{this.empId}} {{on "input" this.setEmpId}} />
    </div>
    <div class="dialog-elem">
      <label>Designation:</label>
      <input type="text" value={{this.designation}} {{on "input" this.setDesignation}} />
    </div>
    <div class="dialog-elem">
      <label>DOB:</label>
      <input type="date" value={{this.dob}} {{on "input" this.setDob}} />
    </div>
    <div class="dialog-elem">
      <label>Date Of Joining:</label>
      <input type="date" value={{this.doj}} {{on "input" this.setDoj}} />
    </div>
    <div class="dialog-elem">
    <label class="manager-label">Manager:</label>

        <BasicDropdown as |dd|>   
        <dd.Trigger
        class="trigger-bootstrap-feel"
        {{on 'mousedown' this.prevent}}
        {{on 'mouseenter' (fn this.open dd)}}
        {{on 'mouseleave' (fn this.closeLater dd)}}
        >
        <div class="drop-field">
            {{if this.selectedManager this.selectedManager.name "Select Manager"}} 
            <span class="material-icons"> keyboard_arrow_down </span>
        </div>
        </dd.Trigger>
    <dd.Content
      class="content-bootstrap-feel"
      {{on 'mouseenter' (fn this.open dd)}}
      {{on 'mouseleave' (fn this.closeLater dd)}}
    >
      {{#each this.managers as |manager|}}
        <p class="dropdown-item" {{on "click" (fn this.selectManager manager)}}>
          {{manager.name}}
        </p>
      {{/each}}
    </dd.Content>
  </BasicDropdown>


    </div>



    <div class="btns">
      <button type="submit">Update</button>
      <button type="button">Cancel</button>
    </div>
  </form>
</div>
</div>