<div class="main-container">
  <div class="card-container">
  <div class="dialog-head">
    <div {{on 'click' this.Back}}><span class="material-icons"> arrow_back</span></div>
    <h2>Update Employee Details</h2>
  </div>
  <form {{on "submit" this.EditEmployee}} {{on-click-outside this.closeCalendar}}>
    <div class="dialog-elem">
      <label>Employee Name:</label>
      <input type="text" value={{this.name}} {{on "input" this.setName}} />
    </div>
    <div class="dialog-elemId">
      <label>Employee ID:</label>
      <div class="empid-field">
        <input type="text" value={{this.empId}} {{on "input" this.setEmpId}} {{on "input" this.checkEmpID}} />
        {{#if (eq this.empId this.isEqualID)}}
          <span class="empId-text">This Employee Id already exists.</span>
        {{/if}}
      </div>
    </div>
    <div class="dialog-elem">
      <label>Designation:</label>
      <input type="text" value={{this.designation}} {{on "input" this.setDesignation}} />
    </div>
<div class="dialog-elem">
  <label>DOB:</label>
  <div class="dob-custom">
    <input
      type="text"
      class="form-control"
      value={{this.dob}}
      readonly
      {{on "click" this.triggerDobPicker}}
    />

    <span class="material-icons calender-icon" {{on "click" this.triggerDobPicker}}>
      calendar_month
    </span>

    {{#if this.showCalendar}}
      <PowerCalendar
        class="demo-calendar-small"
        @navComponent={{component "calendar-nav-with-year-buttons"}}
        @center={{this.center2}}
        @selected={{this.selectedDate}}
        @onSelect={{this.selectDob}}
        @onCenterChange={{this.onCenterChange}} as |cal|>
      
        <cal.Nav />
        <cal.Days />
      </PowerCalendar>


    {{/if}}
  </div>
</div>

<div class="dialog-elem">
  <label>Date Of Joining:</label>
  <div class="dob-custom">
    <input
      type="text"
      class="form-control"
      value={{this.doj}}
      readonly
      {{on "click" this.triggerDojPicker}}
    />

    <span class="material-icons calender-icon" {{on "click" this.triggerDojPicker}}>
      calendar_month
    </span>

    {{#if this.showDojCalendar}}
      <PowerCalendar
        class="demo-calendar-small"
        @navComponent={{component "calendar-nav-with-year-buttons"}}
        @center={{this.center3}}
        @selected={{this.selectedDojDate}}
        @onSelect={{this.selectDoj}}
        @onCenterChange={{this.onDojCenterChange}} as |calen|>


        <calen.Nav />
        <calen.Days />
      </PowerCalendar>
    {{/if}}
  </div>
</div>

    <div class="dialog-elem">
    <label class="manager-label">Manager:</label>

        <BasicDropdown as |dd|>   
        <dd.Trigger
        class="trigger-bootstrap-feel"
        {{on 'mousedown' this.prevent}}
        {{on 'mouseenter' (fn this.open dd)}}
        {{on 'mouseleave' (fn this.closeLater dd)}}
        >
        <div class="drop-field">
            {{if this.selectedManager this.selectedManager.name "Select Manager"}} 
            <span class="material-icons"> keyboard_arrow_down </span>
        </div>
        </dd.Trigger>
    <dd.Content
      class="content-bootstrap-feel"
      {{on 'mouseenter' (fn this.open dd)}}
      {{on 'mouseleave' (fn this.closeLater dd)}}
    >
      {{#each this.managers as |manager|}}
        <p class="dropdown-item" {{on "click" (fn this.selectManager manager)}}>
          {{manager.name}}
        </p>
      {{/each}}
    </dd.Content>
  </BasicDropdown>


    </div>



    <div class="btns">
      <button type="submit" disabled={{this.updateLoading}}>
        {{#if this.updateLoading}}
          Updating...
        {{else}}
          Update
        {{/if}}
        </button>
      <button type="button" {{on 'click' this.Back}}>Cancel</button>
    </div>
  </form>
</div>

{{#each this.flashMessages.queue as |flash|}}
  <FlashMessage @flash={{flash}} as |component flash|>
    {{#if component.showProgressBar}}
      <div class="alert-progress">
        <h3 style="margin-left: 10px;color:green;">{{component.flashType}}</h3>
        <p style="margin-left: 10px;">{{flash.message}}</p>
        <div class="alert-progressBar" style="{{component.progressDuration}}">
          
        </div>
      </div>
    {{/if}}
  </FlashMessage>
{{/each}}
</div>