{{#if this.showResult.isRunning}}
  <LoadingSpinner />
{{/if}}
{{#if this.show}}
  <h1 class="header">Employee Details</h1>

  <div class="buttons-container" >
    <div class="btn-group">
      <div class="initBtns">
        <LinkTo @route="addEmp" style="text-decoration: none;">
        <button class="add" type="button" {{on-key "ctrl+n" this.add}} >
          <span class="material-icons plus">add</span> Add Employee
        </button>
        </LinkTo>
        <div>
          <button class="delete" type="button" {{on "click" this.deleteEmployees}}>
          <i class="material-icons" style="font-size:18px;color:white">delete</i> Delete Employee
        </button>
        </div>
        <div class="customize-container">
          <button class="customize" {{on 'mouseover' this.toggleCustomize}}>
            <i class="material-icons" style="font-size:18px;color:white">build</i> Customize column
          </button>
          {{#if this.showCustomize}}
  <div class="dropdown-menu" {{on-click-outside this.closeCustomize eventType='mouseover'}}>
    <h3>Show Columns</h3>
    {{#each this.columns as |col index|}}
      <label>
        <input type="checkbox" checked={{col.isVisible}} {{on 'change' (fn this.toggleColumn index)}} > {{col.column}} </label>
    {{/each}}
  </div>
{{/if}}
        </div>
        
      </div>
  
      <div class="search-container">
        <input type="search" id="search" placeholder="Search..." {{on "input" this.updateSearch}} />
        <span class="material-icons">search</span>
      </div>
    </div>
  </div>

<div class="table-container tableDetails">
  <div class="scroll-wrapper">
<table>
  <thead class="table-header">
    <tr>
      <th>S.No</th>
      {{#each this.columns as |col|}}
        {{#if col.isVisible}}
          <th>{{col.column}}</th>
        {{/if}}
      {{/each}}
      <th>Actions</th>
      <th><input type="checkbox" {{on "change" this.selectAll}}> Select All</th>
    </tr>
  </thead>

  <VerticalCollection
    @items={{this.filteredEmployees}}
    @tagName="tbody"
    @estimateHeight={{50}}
    @staticHeight={{true}}
    @containerSelector=".scroll-wrapper"
    @key="empId"
    as |emp index|
  >
    <tr>
      <td>{{inc index}}</td>
      {{#each this.columns as |col|}}
        {{#if col.isVisible}}
          <td>{{get-value emp col.valuePath}}</td>
        {{/if}}
      {{/each}}
      <td>
        <LinkTo @route="editEmp" @model={{emp.empId}}>
          <span class="material-icons editBtn">edit</span>
        </LinkTo>
      </td>
      <td>
        <input
          type="checkbox"
          checked={{if emp.selected "checked" ""}}
          {{on "click" (fn this.toggleSelect emp)}}
        />
      </td>
    </tr>
  </VerticalCollection>
</table>
  </div>
<br>
<br>



</div>
{{/if}}