    <h2 class="job-title">Job Openings</h2>
  <div class="vertical-collection-container">
    {{#if this.jobPosts.length}}
        <VerticalCollection
          @items={{this.jobPosts}}
          @itemHeight={{50}}
          @estimateHeight={{270}}
          @firstReached={{this.loadAbove}}
          @lastReached={{this.loadMore}}
          @bufferSize={{5}}
          @isDynamic={{true}}
          @key="id"
          as |jobPost|
        >
          <JobOpenings @jobPost={{jobPost}}/>
        </VerticalCollection>
    {{else}}
      <p>No job posts found</p>
    {{/if}}
  </div>